/*neutral*/
@import url('https://fonts.googleapis.com/css?family=Khula:400,700');
* {
  font-family: 'Khula', sans-serif;
}
.footer,
.header {
  background: #396bf7;
  color: white;
}
.ctas-button {
  color: #396bf7;
}
*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
body {
  -webkit-font-smoothing: antialiased;
}
/*text*/
.heading {
  font-weight: 100;
  font-size: 50px;
  line-height: 68px;
}
@media (max-width: 900px) {
  .heading {
    font-size: 32px;
    line-height: 40px;
  }
}
.subheading {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
}
@media (max-width: 900px) {
  .subheading {
    font-size: 26px;
    line-height: 35px;
  }
}
.paragraph {
  font-size: 17px;
  line-height: 32px;
  font-weight: 100;
}
.heading + .paragraph {
  margin-top: 30px;
}
.subheading + .paragraph {
  margin-top: 10px;
}
p.paragraph {
  color: rgba(0, 0, 0, 0.5);
}
.logo {
  font-size: 30px;
  line-height: 30px;
  font-weight: 900;
}
@media (max-width: 420px) {
  .logo {
    font-size: 22px;
  }
}
a:hover {
  text-decoration: underline;
}
.nav-link2,
.nav-link {
  transition: all 0.3s ease;
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: inherit;
}
.nav-link:not(:first-of-type) {
  margin-left: 20px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
/*flexbox styles*/
.flex,
.spread,
.center,
.right,
.vertical,
.centervertical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.spread {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.centervertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*grid*/
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 20px;
}
.col-1 {
  width: 8.333333%;
}
.col-2 {
  width: 16.666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.333333%;
}
.col-5 {
  width: 41.666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.333333%;
}
.col-8 {
  width: 66.666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.333333%;
}
.col-11 {
  width: 91.666667%;
}
.col-12 {
  width: 100%;
}
/*containers*/
.container-lrg,
.container-sml {
  margin: auto;
  width: 100%;
}
.container-lrg {
  max-width: 1080px;
}
.container-sml {
  max-width: 700px;
}
.ctas {
  margin: 40px 0 0 0;
}
.centerdevices,
.sidedevices {
  position: relative;
}
.header {
  padding: 20px 0 90px 0;
  overflow: hidden;
}
.header .heading {
  margin: 120px 0 0 0;
}
.header .centerdevices {
  margin: 60px 0 60px;
}
@media (max-width: 900px) {
  .header .heading {
    margin-top: 60px;
  }
}
.ctas-input {
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  height: 40px;
  line-height: 40px;
  padding: 0 15px;
  width: 260px;
  display: inline-block;
}
.ctas-button {
  display: inline-block;
  margin: 0 0 0 10px;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  background: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  border: 1px solid white;
  text-decoration: none;
}
@media (max-width: 440px) {
  .ctas-input,
  .ctas-button {
    display: block;
    width: 100%;
    text-align: center;
  }
  .ctas-button {
    margin: 10px 0 0 0;
  }
}
.socialproof {
  padding: 90px 0;
}
@media (max-width: 680px) {
  .socialproof .flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .socialproof .col-3 {
    width: 50%;
  }
  .socialproof .col-3:nth-of-type(n + 3) {
    margin-top: 30px;
  }
}
.ctas-button,
.ctas-button-2 {
  display: inline-block;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  background: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  border: 1px solid white;
  text-decoration: none;
}
.ctas-button-2 {
  background: transparent;
  color: white;
  margin: 0 0 0 10px;
}
@media (max-width: 440px) {
  .ctas-button,
  .ctas-button-2 {
    display: block;
    width: 100%;
    text-align: center;
  }
  .ctas-button-2 {
    margin: 10px 0 0 0;
  }
}
.footer {
  padding: 45px 0;
}
.footer .nav-link {
  display: inline-block;
  margin: 0 10px;
}
.ctas-button,
.ctas-button-2 {
  display: inline-block;
  height: 40px;
  line-height: 38px;
  padding: 0 30px;
  background: #fff;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3px;
  border: 1px solid white;
  text-decoration: none;
}
.ctas-button-2 {
  background: transparent;
  color: white;
  margin: 0 0 0 10px;
}
@media (max-width: 440px) {
  .ctas-button,
  .ctas-button-2 {
    display: block;
    width: 100%;
    text-align: center;
  }
  .ctas-button-2 {
    margin: 10px 0 0 0;
  }
}
.feature2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.feature2 .col-6:nth-of-type(2n - 1) {
  padding: 90px 90px 90px 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.feature2 .col-6:nth-of-type(3n - 1) {
  padding: 90px 20px 90px 90px;
}
.feature2 .emoji {
  font-size: 55px;
  color: black;
}
@media (max-width: 900px) {
  .feature2 .emoji {
    font-size: 40px;
  }
  .feature2 .col-6:nth-of-type(1) {
    padding: 45px 45px 45px 20px;
  }
  .feature2 .col-6:nth-of-type(2) {
    padding: 45px 20px 45px 45px;
  }
}
@media (max-width: 600px) {
  .feature2 {
    padding: 90px 0;
  }
  .feature2 .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .feature2 .col-6:nth-of-type(1),
  .feature2 .col-6:nth-of-type(2) {
    padding: 0 20px;
    border: none;
    width: 100%;
  }
  .feature2 .col-6:nth-of-type(2) {
    margin-top: 30px;
  }
}
.centerdevices .computeriphone .mask {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -1px 1px 4px rgba(107, 124, 147, 0.45);
  background: white;
}
.centerdevices .computeriphone .mask-img {
  width: 100%;
  display: block;
}
.centerdevices .computeriphone .computer {
  width: 800px;
  height: 560px;
  margin-left: 100px;
  background: linear-gradient(to bottom, #f7fbfe 0%, #dde2e8 100%);
  border-radius: 18px;
  position: relative;
  box-shadow: inset 0 2px 7px 1px rgba(255, 255, 255, 0.5), inset 0 -5px 20px rgba(187, 200, 225, 0.35), 0 2px 6px rgba(40, 39, 66, 0.14), 0 10px 20px rgba(40, 39, 66, 0.06), 76px 75px 169px -35px rgba(0, 0, 0, 0.4);
  padding: 35px 20px;
  margin: auto;
}
.centerdevices .computeriphone .computer:after,
.centerdevices .computeriphone .computer:before {
  content: "";
  position: absolute;
  border-radius: 3px 3px 0 0;
  width: calc(300%);
  height: 10px;
  background: linear-gradient(to right, #f6fafd 0%, #dde2e9 6%, #f6fafd 15%, #f6fafd 42%, #e6e6e6 42%, #f6fafd 45%, #f6fafd 53%, #e6e6e6 56%, #f6fafd 56%, #f6fafd 85%, #dde2e9 94%, #f6fafd 100%);
  left: -100px;
  bottom: -5px;
}
.centerdevices .computeriphone .computer:before {
  height: 6px;
  bottom: -11px;
  border-radius: 0 0 40px 40px;
  background: #dde2e9;
  box-shadow: inset 0px -25px 10px -20px rgba(0, 0, 0, 0.5);
}
.centerdevices .computeriphone .iphone {
  border-radius: 30px;
  background: linear-gradient(to bottom, #f7fbfe 0%, #dde2e8 100%);
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(187, 200, 225, 0.35), 0 2px 6px rgba(40, 39, 66, 0.14), 0 10px 20px rgba(40, 39, 66, 0.06), 76px 75px 169px -35px rgba(0, 0, 0, 0.4);
  border-style: solid;
  border-color: #e7ecf1;
  overflow: hidden;
  height: 460px;
  width: 220px;
  padding: 45px 8px 60px;
  z-index: 2;
  -webkit-transform: matrix3d(0.8, -0.09, 0, 0.00032, 0.05, 0.86, 0, 0.00006, 0, 0, 1, 0, -9, 30, 0, 1.05);
  transform: matrix3d(1, -0.09, 0, 0.00032, 0.05, 1, 0, 0.00006, 0, 0, 1, 0, -9, 30, 0, 1.05);
  position: absolute;
  top: 0;
  border-width: 2px 2px 4px 6px;
}
.centerdevices .computeriphone .iphone:after {
  content: "";
  width: 38px;
  height: 38px;
  left: calc(31%);
  bottom: 12px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
}
.centerdevices .computeriphone .iphone:before {
  content: "";
  width: 50px;
  height: 7px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 24px;
  left: calc(25%);
}
@media (max-width: 1120px) {
  .centerdevices .computeriphone .computer {
    margin-left: 100px;
  }
}
.centerdevices .iphoneipad2 .mask {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: -1px 1px 4px rgba(107, 124, 147, 0.45);
  background: white;
}
.centerdevices .iphoneipad2 .mask-img {
  width: 100%;
  display: block;
}
.centerdevices .iphoneipad2 .iphone,
.centerdevices .iphoneipad2 .ipad {
  border-radius: 40px;
  position: relative;
  background: linear-gradient(to bottom, #f7fbfe 0%, #dde2e8 100%);
  box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(187, 200, 225, 0.35), 0 2px 6px rgba(40, 39, 66, 0.14), 0 10px 20px rgba(40, 39, 66, 0.06), 0px 36px 79px -1px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.centerdevices .iphoneipad2 .iphone {
  border-radius: 30px;
  width: 280px;
  height: 560px;
  z-index: 2;
  padding: 60px 12px 70px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}
.centerdevices .iphoneipad2 .iphone .mask {
  border-radius: 4px;
}
.centerdevices .iphoneipad2 .ipad {
  width: 830px;
  height: 560px;
  padding: 15px 85px;
  margin-left: auto;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}
.centerdevices .iphoneipad2 .ipad:after,
.centerdevices .iphoneipad2 .iphone:after,
.centerdevices .iphoneipad2 .ipad:before {
  content: "";
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: calc(28%);
  right: 23px;
}
.centerdevices .iphoneipad2 .ipad:after {
  left: 34px;
  width: 16px;
  height: 16px;
  top: calc(42%);
}
.centerdevices .iphoneipad2 .iphone:after {
  top: initial;
  bottom: 14px;
  left: calc(28%);
}
.centerdevices .iphoneipad2 .iphone:before {
  content: "";
  width: 58px;
  height: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.08);
  position: absolute;
  top: 28px;
  left: calc(21%);
}
@media screen and (max-width: 900px) {
  .centerdevices .iphoneipad2 {
    position: relative;
    white-space: nowrap;
    vertical-align: top;
    overflow: scroll;
    width: calc(140%);
    margin: 0 0 0 -20px;
    z-index: 99;
    -webkit-overflow-scrolling: touch;
  }
  .centerdevices .iphoneipad2 .iphone,
  .centerdevices .iphoneipad2 .ipad {
    -webkit-transform: none;
            transform: none;
    border: none;
    position: relative;
    box-shadow: inset 0 4px 7px 1px #fff, inset 0 -5px 20px rgba(187, 200, 225, 0.35), 0 2px 6px rgba(40, 39, 66, 0.14), 0 10px 20px rgba(40, 39, 66, 0.06);
    background: linear-gradient(to bottom, #f7fbfe 0%, #dde2e8 100%);
    margin: 0 20px;
    display: inline-block;
  }
  .centerdevices .iphoneipad2 .iphone {
    height: 440px;
    width: 220px;
    padding: 50px 8px 60px;
    margin: 0 0 0 20px;
    border-radius: 30px;
  }
  .centerdevices .iphoneipad2 .iphone .mask {
    border-radius: 4px;
  }
  .centerdevices .iphoneipad2 .iphone:before {
    top: 24px;
    width: 50px;
    height: 7px;
    left: calc(25%);
  }
  .centerdevices .iphoneipad2 .iphone:after {
    width: 38px;
    height: 38px;
    left: calc(31%);
    bottom: 12px;
  }
  .centerdevices .iphoneipad2 .ipad {
    width: 740px;
    height: 440px;
  }
  .centerdevices .iphoneipad2 .ipad:before {
    left: 23px;
    right: inherit;
  }
  .centerdevices .iphoneipad2 .ipad:after {
    right: 36px;
    left: inherit;
  }
}
.intro-steps {
  margin: 30px 0;
}
.no-break {
  white-space: nowrap;
  overflow: hidden;
}
.select-file {
  cursor: pointer;
  text-decoration: underline;
}
.select-file > * {
  cursor: pointer;
}
