.intro-steps {
  margin: 30px 0;
}

.no-break {
  white-space: nowrap;
  overflow: hidden;
}

.select-file {
  cursor: pointer;
  text-decoration: underline;
}

.select-file > * {
  cursor: pointer;
}